/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);*/
@import url(OpenSans-Regular.ttf);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  text-align: center;
    background: #fff;
    color: #7b8993;
    font: 300 87.5%/1.5em 'Open Sans', sans-serif;
}

.form-wrapper {
    padding-top: 10%;
    border-radius: 2px;
    margin: 50px auto;
    position: relative;
    width: 375px;
}

form {
    padding: 30px 20px 0;
}

.form-item {
    margin-bottom: 10px;
    width: 100%;
}

.form-item input {
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #000;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
    padding: 0 16px;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.form-item input:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.button-panel {
    margin: 20px 0 0;
    width: 100%;
}

.button-panel .button {
    -webkit-appearance: none;
    background: #009dff;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 100%;
}

.button:hover {

    background: #00c8ff;
}

@media only screen
and (max-width : 320px) {
.form-wrapper {
    padding-top: 10%;
    border-radius: 2px;
    margin: 50px auto;
    position: relative;
    width: 320px;
}
}


.cent {
    text-align: center;
    color: #000;
}

.view {
    text-align: center;
    text-decoration: none;
    color: #7b8993;
    padding-top: 10px;
}

#ref {
    text-align: center;
    text-decoration: underline;
    color: #7b8993;
    padding-top: 8px;
    font-size: 16px;
}

#ref:hover {
    text-align: center;
    color: #009dff;
    text-decoration: underline;
    -webkit-animation: hue 60s infinite linear;
    padding-top: 8px;
    font-size: 16px;
}
ul li{
display: inline-block;
list-style-type: none;
text-align: center;
}
.h1h{
  color: #000;
  text-align: center;
}
.lil{
  display: inline-block;
}
.h2dec{
  text-align: center;padding-top: 3%;
}
