<form action="upload.php" method="post" enctype="multipart/form-data">
	<input type="hidden" name="Max_File_Size" value="10000000">
	<input type="file" name="spic"><br>
	<input type="submit" name="sub" value="upload file"><br>
</form>